# general excludes
*~
*.class


# specific dirs and files (auto generated at compile or run time)
/build/
/cbstools-lib.jar
/cbstools.jar
/cbstoolsjcc.egg-info/
/dist/
/lib/mipav-*
/lib/JIST*.jar
/lib/jcc
/pypi/cbstools/*.jar
/pypi/cbstools/*.so
